/* ------------ youtube.com/CodeExplained ------------ */
body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 100%;
    height: 200px;
    background-image: url('./images/11.jpg');
    background-size: 100% 100%;
    background-position: 70%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.clear-btn {
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}

.clear-btn i{
    font-size: 30px;
    color: #FFF;
}

.clear-btn i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
}

#time {
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    float: right;
    
}

/* ------------ content ------------ */
.content{
    width:100%;
    height: 100%;
    min-height: 400px;
    background-color: #FFF;
    overflow: auto;
}

.content::-webkit-scrollbar { 
    display: none; 
}

.content ul{
    padding:0;
    margin:0;
}

.item {
    width: 100%;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}

.fa-circle-check {
    color:#6eb200;
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}

.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}

.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}

.item i.de:hover{
    color:rgb(110, 107, 107);
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 360px;
    height: 40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
    margin-right: 10px;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 290px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #4162f6;
    font-size: 20px;
    padding-left:10px;
    margin-left: 10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c0c8e7;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}




























